@import "./colors.scss";

$mediaMaxHeight: 250px;

body {
    background-color: $backColor;
}

@media (min-width: 0px) {
    .mediaContainer {
        width: 98%;
    }
}

@media (min-width: 350px) {
    .mediaContainer {
        width: 49%;
    }
}

@media (min-width: 600px) {
    .mediaContainer {
        width: 32.250%;
    }
}

@media (min-width: 1100px) {
    .mediaContainer {
        width: 24.5%;
    }
}

.mediaContainer {
    flex-wrap: wrap;
    background-color: $backColorDimmed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    height: $mediaMaxHeight;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.subMediaContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.mediaImg {
    max-height: $mediaMaxHeight;
    max-width: 100%;
    height: auto;
    width: auto;
}

.mediaHover {
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: opacity 0.3s ease-in-out;
}

.mediaHover:hover {
    opacity: 1;
}

.downloadButton {
    border-radius: 3px;
    background-color: white;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 0px 5px 0px 5px;
    transition: fill 0.2s ease-in-out;
    cursor: pointer;
}

.downloadButton:hover {
    fill: #006ad1;
}
