@import "./colors.scss";

$mediaMaxHeight: 250px;
$hoverMaxHeight: 80vh;

#root, body, html {
    height: 100%;
    width: 100%;
}

body {
    background-color: $backColor;
}

@media (min-width: 0px) {
    .mediaContainer {
        width: 98%;
    }
}

@media (min-width: 350px) {
    .mediaContainer {
        width: 49%;
    }
}

@media (min-width: 600px) {
    .mediaContainer {
        width: 32.250%;
    }
}

@media (min-width: 1100px) {
    .mediaContainer {
        width: 24.5%;
    }
}

#root {
    display: flex;
    justify-content: center;
}

.mediaContainer {
    flex-wrap: wrap;
    background-color: $backColorDimmed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    height: $mediaMaxHeight;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.subMediaContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    max-height: 100%;
    max-width: 100%;
}

.mediaImg {
    max-height: $mediaMaxHeight;
    max-width: 100%;
    height: auto;
    width: auto;
    cursor: pointer;
}

.downloadButton {
    border-radius: 3px;
    background-color: white;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 0px 5px 0px 5px;
    transition: fill 0.2s ease-in-out;
    cursor: pointer;
}

.downloadButton:hover {
    fill: $hoverColor;
}

.pageNbr {
    color: white;
    border: 3px solid $backColorDimmed;
    text-decoration: none;
    margin: 4px;
}

.pageNbrSelected {
    border: 3px solid $secondaryColor;
}

.expandWrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.expandSubWrapper {
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    height: $hoverMaxHeight;
    display: flex;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}

.showExpand {
    pointer-events: all;
    opacity: 1;
}

.imgExpanded {
    max-height: $hoverMaxHeight;
    max-width: 100%;
    position: relative;
}

.imgExpanded img {
    object-fit: contain;
    max-width: 100%;
    max-height: $hoverMaxHeight;
}

.imgHover {
    opacity: 0;
    padding: 3% 0 3% 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    transition: all 0.3s ease-in-out;
    transform: translateY(20%);
}

.showImgHover {
    opacity: 1;
    transform: translateY(0px);
}
