$backColor: #1e212a;
$backColorDimmed: #121419;
$middleSectionBorder: #707070;
$hoverColor: rgba(30, 30, 30, 0.8);
$lightDimmed: #d9d9d9;
$selected: #1e6bff;
$secondaryColor: #328989;
$warningColor: #E93324;