$size: 80px;

.loaderHover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderImg {
    width: $size;
    height: $size;
}