@import "./colors.scss";
@import "utilities/cross-browser.scss";

.moreButton {
   
    &.smallButton {
        .moreHeader {
            @include transition(background-color 0.15s ease-out, color 0.15s ease-out);
            background-color: rgba(255, 255, 255, 0);
            height: 60px;
            width: calc(100% - 6px);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            border: 3px solid #fff;
            svg {
                display: none;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.8);
                color: #121419;
            }
        }
        &.on {
            .moreHeader {
                background-color: rgba(255, 255, 255, 1);
                color: #121419;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.8);
                    color: #121419;
                }
            }

        }
        display: none;
        width: 100%;
        @media screen and (max-width: 992px) {
            display: block;
        }
        .moreContent {
            @include transition(max-height 0.2s ease-out);
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            overflow: hidden;
            max-height: 126px;
            &.off {
                max-height: 0;
            }
            .moreOption {
                @include transition(background-color 0.15s ease-out, color 0.15s ease-out);
                background-color: rgba(255, 255, 255, 0);
                outline: none;
                border-width: 0px 3px 3px 3px;
                border-style: solid;
                border-color: #fff;
                font-weight: bold;
                color: #fff;
                font-size: 15px;
                width: 100%;
                height: 60px;
                flex-shrink: 0;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.8);
                    color: #121419;
                }
                &.deleteButton {
                    color: $warningColor;
                }
            }
        }
    }
    &.bigButton {
        width: 120px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px 10px 0 0;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        @media screen and (max-width: 992px) { 
            display: none;
        }
        .moreHeader {
            position: absolute;
            height: 30px;
            width: 40px;
            flex: 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-width: 0;
            border-style: solid;
            border-color: darken(#fff, 15%);
            p {
                display: none;
            }
            svg {
                margin: 2px 2px;
                height: 26px;
                width: 26px;
                fill: #fff;
                filter: drop-shadow(1px 1px 1px #404040 );
                cursor: pointer;
                &:hover {
                    fill: #DDDDDD;
                }
            }
        }
        .moreContent {
            &.on {
                display: block;
            }
            &.off {
                display: none;
            }
            width: 80px;
            margin: 0 40px 0 0;
            background-color: #fff;
            .moreOption {
                outline: none;
                display: block;
                width: 100%;
                height: 30px;
                background-color: transparent;
                border: none;
                font-size: 12px;
                font-weight: bold;
                border-width: 0 1px 0 0;
                border-style: solid;
                border-color: darken(#fff, 15%);
                color: #404040;
                &.warning {
                    color: $warningColor;
                }
                &:hover {
                    background-color: darken(#fff, 15%);
                }
                &:active {
                    background-color: darken(#fff, 25%);
                }
            }
        }
        &.on {
            .moreHeader {
                background-color: #fff;
                border-width: 0 0 1px 0;
                svg {
                    fill: #404040;
                    filter: drop-shadow(0px 0px 0px #404040 );
                    &:hover {
                        fill: lighten(#000, 15%);
                    }
            }       
            }
        }
    }
}